# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IntelliJ IDEA / JetBrains
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
/out/

# Env
.env
